#copyButton, #helpMessage {
    -fx-text-fill: white;
}

#copyButton {
    -fx-background-color: #1B3A4B;
    -fx-border-color: white;
    -fx-border-width: 0.5px;
    -fx-border-radius: 6;
    -fx-background-radius: 6;
    -fx-cursor: hand;
}

#copyButton:hover {
    -fx-background-color: #2E9CA5;
}

#copyButton:armed {
    -fx-background-color: #265E68;
}

#helpMessageContainer {
    -fx-background-color: derive(#0d1b26, 20%);
}
